# Local backend (FastAPI)
VITE_BACKEND_URL=http://127.0.0.1:8000

# If backend is deployed on Vercel with /api route forwarding:
# VITE_BACKEND_URL=https://your-backend-project.vercel.app/api

VITE_BASE_RAWG_URL=https://api.rawg.io/api
VITE_API_KEY=your-rawg-api-key
