.nav-link {
    font-family: 'Righteous', serif;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
}
a:hover{
    color: rgb(205, 205, 205)
}

body{
    font-family: 'Righteous', serif;
}

.btn {
    font-family: 'Righteous', serif;
}

p{
    font-family: 'Righteous', serif;
}

button {
    font-family: 'Righteous', serif;
}

header {
    font-family: 'Righteous', serif;
    color: white;
}

main {
    margin-bottom: 50px;
    
}


.name-tags {
    font-family: 'Righteous', serif;
    font-size: x-large;
    color: rgb(184, 184, 184);
    transition: 0.5s;
    word-wrap: break-word;
    white-space: normal;
}

.name-tags:hover {
    color: white;
    font-size: xx-large;
    word-spacing: 5px;
    word-wrap: break-word;
    white-space: normal;
}

.card-text{
    color: rgb(184, 184, 184);
}

.teepee .card {
    margin-right: auto;
    margin-left: auto;
    /*box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);*/
    /*border-radius: 5px;*/
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
    /*padding: 10px;*/
    text-align: left;
    transition: 1s;
}

.teepee .card:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.teehee .card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media screen and (min-width: 601px) {
    .gp-r {
      font-size: xx-large;
    }
  }
@media screen and (max-width: 600px) {
    .gp-r {
      font-size: x-large;
    }
  }


.background-img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}

.image-holder {
    display:flex;
    justify-content:center;
}


main{
    background-color: grey-900;
    color: white;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/*.navbar .nav-item:hover .nav-link{   }*/
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	


.dropdown-toggle::after {
    content: none;
}

.dropbtn {
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    color: white;
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    transition: 0.5s;
    border: none;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: larger;
}


input[type=search]{
    color: #666157;
    background: #343a40;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 45px;
    padding: 6px 30px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    border-top: none;
    border-left: none;
    transition: 0.5s;
}

 input[type=search]:hover {
    background-color: white;
 }

 .container{
    color: white;
 }

 .bg-image-mask {
    background-color: transparent;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    } 

@media screen and (max-width: 470px){
    .game-about {
        margin: 5px auto 0 auto;
        padding: 5px;
        overflow: auto;
        font-size: 3vw;
    }
}

@media screen and (min-width: 471px) and (max-width: 770px) {
    .game-about {
        margin: 10px auto 0 auto;
        padding: 10px;
        overflow: auto;
        font-size: 15px;
    }
}

@media screen and (min-width: 771px) {
    .game-about {
        margin: 2vw auto 0 auto;
        padding: 2rem;
        overflow: auto;
    }
    
}

nav li a {
    color: #666157;
    background: #343a40;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 45px;
    padding: 6px 30px;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    border-top: none;
    border-left: none;
    transition: 0.5s;
}

.bodycontent {
    margin-left: 10%;
    margin-right: 10%;
}

/* The following code is for pop up modals */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }