{% extends "layout.html" %}
{% block title %} {{gameinfo["name"]}} | Gamepwanet{% endblock %}
{% block content %}
    
        <div class="bg-image-mask d-flex" src="{{ gameinfo['background_image_additional'] }}" style="background-image: linear-gradient(rgba(33, 37, 41, 1) 5%, rgba(33, 37, 41, 0.5) 40%, rgba(33, 37, 41, 1)), url('{{ gameinfo['background_image_additional'] }}');">
            <div class="container">
                <h2 class="text-center text-warp fs-1 fw-bold "> {{gameinfo['name']}} </h2>
                <div class="game-about">
                    <h3 class="text-left text-warp fs-1"></h3>
                    {{gameinfo['description']|safe}}
                </div>
            </div>
        </div>

{% endblock %}