<!DOCTYPE html>

<html lang="en">
  <head>
    <!--Meta tags-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Tailwind stylesheet -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />

    <!--Extra stylesheets-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Righteous"
    />
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <link href="/static/carousel.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/46c5e8c748.js"
      crossorigin="anonymous"
    ></script>

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
  </head>
  <body class="bg-neutral-800">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    {% include "components/header.html" %}

    <main>{% block content %}{% endblock %}</main>

    {% include "components/footer.html" %}

    <script src="" async defer></script>
  </body>
</html>
