<footer class="bg-dark text-center text-white">
  <!-- Grid container -->

  <div class="p-4 pb-0 ">
    <section class="mb-4">
      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href=""
        role="button"
      >
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href="https://www.linkedin.com/in/aaron-ogbemi/"
        role="button"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href="https://github.com/QuadlcorE"
        role="button"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    <p>
      Database API from
      <a class="text-white" href="https://rawg.io/apidocs">RAWG</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>
